@page "/CreateSwitchRequest"
<h3>Create Switch Request</h3>

@* Pick a shift for switch *@

@* Select timeframe for shifts to switch for *@

@* Write description for request *@


@code {
    
    
    
}