@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>
<div class="home-container">
    <h1 class="display-4">Welcome to QuickShift!</h1>

    <AuthorizeView>
        <Authorized>

        <p class="lead">Manage your shifts and employees efficiently.</p>
        </Authorized>
        <NotAuthorized>
        <hr class="my-4">
        <p>Get started by logging in.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </p>
        </NotAuthorized>
    </AuthorizeView>
</div>



