@page "/SwitchRequest"

<h3>SwitchRequest</h3>

@* Shift of another employee details *@

@* Offered shift details *@

@* Confirm *@
<div>
    <button>Confrim</button>
    <button>Reject</button>
</div>


@code {

}